---
export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<button class:list={["btn", className]}><slot /></button>

<style>
  .btn {
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 2px;
    outline: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .btn:focus,
  .btn:hover {
    color: #fff;
  }

  .primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
  }

  .primary:focus,
  .primary:hover {
    color: #fff;
    background-color: #40a9ff;
    border-color: #40a9ff;
  }

  .ghost {
    color: #1890ff;
    background-color: transparent;
    border-color: #1890ff;
  }

  .ghost:focus,
  .ghost:hover {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff;
  }

  .dashed {
    color: #1890ff;
    background-color: transparent;
    border-style: dashed;
    border-color: #1890ff;
  }

  .dashed:focus,
  .dashed:hover {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff;
  }

  .link {
    color: #1890ff;
    background-color: transparent;
    border-color: transparent;
  }

  .link:focus,
  .link:hover {
    color: #40a9ff;
    background-color: transparent;
    border-color: transparent;
  }

  .circle {
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
  }

  .round {
    border-radius: 16px;
  }

  .block {
    display: block;
    width: 100%;
  }
</style>
